@media screen and (min-width: 890px) {


    .bouton {
        position: absolute;


        right: 10%;
        margin-top: 0px;


    }

    .champ {
        position: absolute;

        right: 15%;
        top: 232px;


    }
    input, textarea {

        margin-left:40px;
        height: 30px;
    }
}


@media screen and (max-width: 889px) {
    .champ{
        text-align: center;
    }
    .bouton{
        right: 15%;
        position: absolute;
    }
}

.ecrire{
    text-align: center;

}

.nom{
    position: absolute;
    left: 2%;
}


.ecrireModif{
    text-align: center;

}

.nomModif{
    position: absolute;
    left: 20%;
}



input, textarea {
    font: 1em sans-serif;
    width : 50%;
    box-sizing:border-box;
    border: 1px solid #999999;

}

.bouton{

    border-radius: 15px;
    border: none;
    color: white;
    background-color:gray;
    padding:9px;
    font-size: 13px;
}

.bouton2{
    padding:5px;
    border-radius: 15px;
    background-color:gray;
    padding:9px;
    font-size: 13px;
    color: white;
    border:none;
}



.bouton:hover{
    background-color: gold;
}


.bouton2:hover{
    background-color: gold;
}

