.bouton_co{
    padding:5px;
    border-radius: 15px;
    background-color:gray;
    padding:9px;
    font-size: 13px;
    color: white;
    border: none;
}



.bouton_co:hover{
    background-color: gold;
}

label {
    font-family:verdana;
    color:white;
    font-weight:bold;
    display:inline-block;
    width:100px;
    text-align: right;
    padding:5px 20px;
    background-color:gray;
    border-radius:25px;
}


form input {
    font: 1em sans-serif;
    width : 40%;
    box-sizing:border-box;
    border: 1px solid #999999;
    margin-left:40px;
}


@media screen and (min-width: 1011px) {
    .p {
        position: absolute;
        right: 3%;
        top: 153px;
    }


}

@media screen and (max-width: 1010px) {
    .p {
        position: absolute;
        right: 3%;
        top: 180px;
    }


}





