.bouton_co{
    background-color:#EEEEEE;
    padding:5px;
    border-radius: 15px;
}



.bouton_co:hover{
    background-color: gold;
}

label {
    font-family:verdana;
    color:white;
    font-weight:bold;
    display:inline-block;
    width:90px;
    text-align: right;
    padding:5px 20px;
    background-color:Midnightblue;
    border-radius:25px;
}


@media screen and (max-width: 1122px) {
    .nom2 {

        text-align: center;
        margin-bottom: 5px;
    }


    .ecrire2{
        text-align: center;
    }

    label{
        text-align: center;
    }
}

@media screen and (min-width: 1122px) {
    .ecrire2 {
        text-align: center;

    }

    .nom2 {
        position: absolute;
        left: 2%;
    }
}









