


.parentcorps {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.m_user {
    grid-area: 1 / 1 / 9 / 2;
    background-color: #F2F2F2;
    padding-left: 20px;
    text-align: center;
}

.corps {
    grid-area: 1 / 2 / 9 / 8;
    background-color: #F2F2F2;
}







.parenttitre {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.titre {
    grid-area: 1 / 1 / 2 / 8;
    background-color: #F2F2F2;
}
.s_menu {
    grid-area: 2 / 1 / 3 / 5;
    background-color: #F2F2F2;

}
.recherche {
    grid-area: 2 / 5 / 3 / 8;
    background-color: #F2F2F2;
}