.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.titre {
    grid-area: 1 / 1 / 2 / 8;
    background-color: pink;
}
.m_user {
    grid-area: 2 / 1 / 11 / 2;
    background-color: gold;
}
.s_menu {
    grid-area: 2 / 2 / 3 / 8;
    background-color: aqua;
}
.corps {
    grid-area: 3 / 2 / 11 / 8;
    background-color: burlywood;
}