.bouton_co{

    padding:5px;
    border-radius: 15px;
    background-color:gray;
    padding:9px;
    font-size: 13px;
    color: white;
    border:none;
}



.bouton_co:hover{
    background-color: gold;
}

label {
    font-family:verdana;
    color:white;
    font-weight:bold;
    display:inline-block;
    width:200px;
    text-align: right;
    padding:5px 20px;
    background-color:gray;
    border-radius:25px;
}


form input {
    font: 1em sans-serif;
    width : 40%;
    box-sizing:border-box;
    border: 1px solid #999999;
    margin-left:40px;
    margin-bottom: 20px;
}


@media screen and (min-width: 1143px) {
    .pass {
        position: absolute;
        right: 2%;
        top: 155px;
    }


}

@media screen and (max-width: 1142px) {
    .pass {
        position: absolute;
        right: 5%;
        top: 178px;
    }


}



@media screen and (min-width: 1143px) {
    .conf {
        position: absolute;
        right: 2%;
        top: 200px;
    }


}

@media screen and (max-width: 1142px) {
    .conf {
        position: absolute;
        right: 5%;
        top: 223px;
    }


}





